<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Socket</title>
  </head>

  <body>
    Check "socket" variable
  </body>

  <script type="text/javascript">
    const socket = new WebSocket('ws://localhost:8080/ws');

    socket.addEventListener('open', function(e) {
      console.log('connection has been opened');
    });

    socket.addEventListener('message', function(e) {
      console.log(e.data);
    });

    socket.addEventListener('close', function(e) {
      console.log('connection has been closed');
    });

    socket.addEventListener('error', function(e) {
      console.log('error', e);
    });
  </script>
</html>
